@import url('http://fonts.cdnfonts.com/css/vcr-osd-mono');


body {
    width: auto;
    height: auto;
    margin: 0 auto;
    background: #008080;
    font-family:'VCR OSD Mono', sans-serif;
}

h1 {
    font-family: 'VCR OSD Mono', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    color: #fdffff;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    background-color: #010081;
    height: 50px;
    border: solid;
    border-color: #c3c3c3;
    border-width: 4px;
    margin-bottom: 0px;
    font-family: 'VCR OSD Mono', sans-serif;
}

.bild1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 30px;
}

.web1-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fdffff;
    border: solid;
    border-color: #c3c3c3;
    border-width: 4px;
    margin-top: 0px;
    box-shadow: 5px 5px 3px #000000;
}

.project a {
    background: url("../directory_closed_cool-0.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
    padding: 32px;
    font-family:sans-serif;

}

.project a:hover {
    background: url("../directory_open_cool-0.png");
    background-repeat: no-repeat;
    width: 96px;
    height: 96px;
}

.overlay {
    position: fixed;
    bottom: 0px;
    height: auto;
    width: 100%;
    background: url("assets/taskbar.png");
    background-repeat: no-repeat;
}

.icon {
    height: auto;
    width: auto;
    object-fit: cover;
    float: left;
    margin: 3px;
}
